<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container mt-3">
    <div class="mb-3">
        <a class="btn btn-info" href="/manufacturer/add">Add new manufacturer</a>
        <a class="btn btn-danger" href="/manufacturer/deleteall">Delete all</a>
    </div>

    <div class="table-responsive">
        <table class="table table-secondary">
            <thead>
                <tr>
                    <th>Manufacturer name</th>
                    <th>Manufacturer country</th>
                    <th colspan="2">Menu</th>
                </tr>
            </thead>
            <tbody>
                {{#each manufacturers}}
                <tr>
                    <td>
                        <a href="/manufacturer/detail/{{ _id }}">{{ name }}</a>
                    </td>
                    <td>{{ country }}</td>
                    <td>
                        <a class="btn btn-warning" href="/manufacturer/edit/{{ _id }}">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="/manufacturer/delete/{{ _id }}"
                        onclick="return confirm('Are you sure to delete this Manufacturer?');">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
